* {
    box-sizing: border-box;
}

body {
    background-color: #555C5B;
}

#container {
    width: 100%;
    height: 800px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#image {
    width: 900px;
    height: 700px;
    border: 2px solid black;
    border-radius: 10px;
}

button {
    width: 50px;
    height: 50px;
    font-size: 25px;
    border: 2px solid lightgrey;
    border-radius: 10px;
    background-color: lightgrey;
    transition: background-color 300ms;
}

#left-btn {
    position: relative;
    left: 25px;
}

#right-btn {
    position: relative;
    right: 25px;
}

button:hover {
    background-color: cornflowerblue;
}