* {
    box-sizing: border-box;
}

body {
    /*background-color: whitesmoke;*/
    background-image: url("../img/afternoon.jpg");
    background-size: cover;
    font-family: 'Russo One', sans-serif;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 600px;
}

#time {
    font-size: 60px;
}