* {
    box-sizing: border-box;
}

body {
    background-color: whitesmoke;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 600px;
}

#time {
    font-size: 60px;
}