* {
    box-sizing: border-box;
}

body {
    background-color: aliceblue;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h2 {
    /*text-align: center;*/
}

h3 {
    text-align: center;
    /*margin-top: 1em;*/
}

#start {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #262124;
    font-family: 'Play', sans-serif;
    font-size: 28px;
    color: #EBF0D7;
    margin-top: 1em;
    /*margin-left: 10em;*/
    width: 250px;
    height: 75px;
    border: none;
}

#wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    width: 500px;
    height: 500px;
}

#container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #262124;
    width: 470px;
    height: 470px;
    border-radius: 235px;
}

#simon {
    position: absolute;
}

.color {
    background-color: #FFF;
    width: 175px;
    height: 175px;
    border: 1px solid black;
    float: left;
    margin: 8px;
}

#green {
    background-color: lightgreen;
    clear: left;
    border-radius: 175px 10px 10px 10px;
}

#red {
    background-color: lightcoral;
    border-radius: 10px 175px 10px 10px;
}

#yellow {
    background-color: lightyellow;
    clear: left;
    border-radius: 10px 10px 10px 175px;
}

#blue {
    background-color: lightblue;
    border-radius: 10px 10px 175px 10px;
}

#black-circle {
    width: 185px;
    height: 185px;
    background-color: #262124;
    border-radius: 115px;
    position: relative;
    top: 6em;
    left: 6.2em;
}

#turn, #round {
    font-family: 'Play', sans-serif;
    font-size: 40px;
    height: 45px;
}

#wrong {
    color: #EBF0D7;
    font-family: 'Play', sans-serif;
    font-size: 60px;
}