<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{%person where:'Id == 16 || Id == 17 || Id == 15 || Id == 14'%}
{% for person in personItems %}
{{ person.FullName }} {{person.BaptismDate}} {{person.PhoneNumbers}} {{person.Email}} {{person.PrimaryAlias}}<br>
{% endfor %}
{%endperson%}

<table class="table">
    <thead>
    <tr>
        <th>First</th>
        <th>Last</th>
        <th>Cell Phone #</th>
        <th>Email Address</th>
        <th>Family Address</th>
        <th>Baptism Date</th>
    </tr>
    </thead>
    <tbody>
    {%person ids:'16, 17, 15, 14'%}
    {% for person in personItems %}
    {% assign number =  {{person | PhoneNumber:'Mobile'}}%}
    <tr>
        <td>{{person.FirstName}}</td>
        <td>{{person.LastName}}</td>
        {% if number == null %}
        <td>N/A</td>
        {% else %}
        <td>{{number}}</td>
        {% endif %}
        <td>{{person.Email}}</td>
        <td><a href="https://maps.google.com/?q={{person | Address:'Home'}}" target="_blank">{{person | Address:'Home'}}</a></td>
        <td>{{person.BaptismDate}}</td>
    </tr>
    {% endfor %}
    {%endperson%}
    </tbody>
</table>

<!--sql below-->
-- SELECT [Person].FirstName AS 'First Name', [Person].LastName AS 'Last Name', PhoneNumber.NumberFormatted, [Person].Email AS 'Email', [Location].Street1 AS 'Family Address'
-- FROM [Location]
-- JOIN [GroupLocation] ON [Location].Id = [GroupLocation].LocationId
-- JOIN [Group] ON [GroupLocation].GroupId = [Group].Id
-- JOIN [GroupMember] ON [Group].Id = [GroupMember].GroupId
-- JOIN [Person] ON [GroupMember].PersonId = [Person].Id
-- left JOIN [PhoneNumber] ON [PhoneNumber].PersonId = [Person].Id
-- WHERE [Group].Name = 'Marble Family' OR [Group].Name = 'Lowe Family';


<!-- first coding assessment with but added clickable links for first/last name-->
{% person where:'LastName == "Gilbert" || LastName == "Decker" || LastName == "Marble"' %}
{% for person in personItems %}
<div class="card mb-3" style="max-width: 540px;">
    <div class="row no-gutters">
        <div class="col-md-4">
            <img src={{person.PhotoUrl}} class="card-img" alt={{person.FullName}}>
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <a href="https://rock.rocksolidchurchdemo.com/Person/{{person.Id}}" target="_blank">
                    <h5 class="card-title">Name: {{person.NickName}} {{person.LastName}}</h5>
                </a>
                {% if person.FavoriteColor == ''%}
                <p class="card-text">Favorite Color: {{person.NickName}} has not entered their favorite color.</p>
                {% else %}
                <p class="card-text">Favorite Color: {{person.FavoriteColor}}</p>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endfor %}
{% endperson %}
</body>
</html>